body {
    text-align: center;
}
.nav-link, .navbar-brand{
    color: #ffc107;
    transition: .5s;
}

.nav-link:hover, .navbar-brand:hover {
    font-weight: bold;
    color: #ffc107;
}

nav {
    border-bottom: 5px solid#ffc107;
}

h1, h3{
    color: #ffc107;
    font-weight: bold;
}

hr {
    width: 60%;
    border: 3px solid #ffc107;
    margin: auto;
}


.card-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 3% 0 3% 0;
}

.card {
    box-shadow: 0px 0px 10px 0px #ffc107;
}

.icons {
    border-top: 5px solid #ffc107;
    text-align: center;
    padding: 2% 5%;
    bottom: 0;
    display: flex;
}

.icons > div > i {
    font-size: 350%;
}

.icons > div {
    display: grid;
    width: 100%;
    text-align: center;
}

.icons > div > a {
    color: #fff;
    text-decoration: none;
}

.fa-brands {
    font-size: 500%;
}

.card {
    padding: 5%;
    background-color: transparent
}

#stack-filter > ul {
    display:flex;
    width: 100%;
}

.filter {
    color: #ffc107;
    text-decoration: none;
    width: 20%;
    transition: 0.5s;
    background: transparent;
    border: 0;
}

.filter:hover, .active {
    font-weight: bold;
}
