<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/styles.css">
	<script src="https://kit.fontawesome.com/3d9b81966d.js" crossorigin="anonymous"></script>
	<title>Index · Angel Chavez</title>
</head>

<body class="bg-dark text-white">
	<header>
		<nav class="navbar navbar-expand" id="nav">
			<div class="container">
				<a class="navbar-brand" href="#info">Index</a>
				<div class="navbar-colapse">
					<ul class="navbar-nav" id="links">
						<li class="nav-item">
							<a class="nav-link" href="#stack">Stack</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#projects">Proyectos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#footer" tabindex="-1">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<section id="info" class="text-center" style="height: 90vh;display: flex;">
			<div style="margin: auto;">
				<img src="../static/img/photo.png" alt="angel chavez" class="rounded-circle" style="width: 20%;">
				<h1>Angel Chavez</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut fugit quis animi repellat veniam
					incidunt sequi praesentium mollitia. Nam quidem id ullam unde inventore deleniti quod autem.
					Facilis, dolores repudiandae.</p>
			</div>
		</section>
		<hr>
		<section id="stack">
			<h3>Stack</h3>
			<div id="stack-filter">
				<button class="filter active" id="all">Todo</button>
				<button class="filter" id="frontend">Frontend</button>
				<button class="filter" id="backend">Backend</button>
				<button class="filter" id="extra">Extra</button>
			</div>
			<div class="card-container">
				<div class="card frontend all" style="width: 14rem;">
					<i class="fa-brands fa-html5"></i>
					<div class="card-body">
						<p>HTML</p>
					</div>
				</div>

				<div class="card frontend all" style="width: 14rem;">
					<i class="fa-brands fa-css3-alt"></i>
					<div class="card-body">
						<p>CSS</p>
					</div>
				</div>

				<div class="card frontend all" style="width: 14rem;">
					<i class="fa-brands fa-js"></i>
					<div class="card-body">
						<p>JavaScript</p>
					</div>
				</div>

				<div class="card backend all" style="width: 14rem;">
					<i class="fa-brands fa-python"></i>
					<div class="card-body">
						<p>Python</p>
					</div>
				</div>

				<div class="card backend all" style="width: 14rem;">
					<i class="fa-brands fa-java"></i>
					<div class="card-body">
						<p>Java</p>
					</div>
				</div>

				<div class="card backend all" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/stack/c++.png" alt="c++ logo"
						style="height: 50%; width: 40%;margin: auto;">
					<div class="card-body">
						<p>C++</p>
					</div>
				</div>

				<div class="card extra all" style="width: 14rem;">
					<i class="fa-brands fa-git-alt"></i>
					<div class="card-body">
						<p>Git</p>
					</div>
				</div>

				<div class="card extra all" style="width: 14rem;">
					<i class="fa-brands fa-markdown"></i>
					<div class="card-body">
						<p>Markdown</p>
					</div>
				</div>

				<div class="card extra all" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/stack/vim.png" alt="vim logo"
						style="height: 50%; width: 40%;margin: auto;">
					<div class="card-body">
						<p>Vim</p>
					</div>
				</div>
			</div>
		</section>
		<hr>
		<section id="projects">
			<h3>Proyectos</h3>
			<div class="card-container">
				<div class="card bg-dark" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/projects/basstatpl.png" alt="basstatpl logo"
						style="height: 50%;">
					<div class="card-body">
						<p>BasstatPL</p>
						<a
							href="https://github.com/Angel-Gabriel-Chavez/basstatpl">https://github.com/Angel-Gabriel-Chavez/basstatpl</a>
					</div>
				</div>

				<div class="card bg-dark" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/projects/flask-auth.png" alt="flask-auth">
					<div class="card-body">
						<p>Flask_auth</p>
						<a
							href="https://github.com/Angel-Gabriel-Chavez/flask-auth">https://github.com/Angel-Gabriel-Chavez/flask-auth</a>
					</div>
				</div>

				<div class="card bg-dark" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/projects/todo-flask-app.png" alt="todo-flask-app">
					<div class="card-body">
						<p>ToDo_Flask_App</p>
						<a
							href="https://github.com/Angel-Gabriel-Chavez/ToDoList-Flask-App">https://github.com/Angel-Gabriel-Chavez/ToDoList-Flask-App</a>
					</div>
				</div>

				<div class="card bg-dark" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/projects/imgPDF.png" alt="imgPDF">
					<div class="card-body">
						<p>ImgPDF</p>
						<a
							href="https://github.com/Angel-Gabriel-Chavez/ImgPDF">https://github.com/Angel-Gabriel-Chavez/ImgPDF</a>
					</div>
				</div>

				<div class="card bg-dark" style="width: 14rem;">
					<img class="card-img-top" src="../static/img/projects/key-value-splitter.png"
						alt="key-value-splitter">
					<div class="card-body">
						<p>Key-Value-Splitter</p>
						<a
							href="https://github.com/Angel-Gabriel-Chavez/Key-Values_Splitter">https://github.com/Angel-Gabriel-Chavez/Key-Values_Splitter</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer id="footer">
		<div class="icons">
			<div>
				<i class="fa-brands fa-github"></i>
				<a href="https://github.com/Angel-Gabriel-Chavez">Github</a>
			</div>
			<div>
				<i class="fa-brands fa-instagram"></i>
				<a href="https://www.instagram.com/dr.pixelc/">Instagram</a>
			</div>
			<div>
				<i class="fa-brands fa-youtube"></i>
				<a href="https://www.youtube.com/channel/UCFtqH6GNvmPrdjNPhHpIchQ">Youtube</a>
			</div>
		</div>
		<p>Level Up - Agosto - 2022</p>

		<script src="../static/js/main.js"></script>
	</footer>
</body>

</html>